<ion-menu contentId="main-content" id="menu-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{user ? user.firstName : "..."}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Profile</ion-label>
      </ion-list-header>
      <!-- <ion-item>
        <ion-icon name="settings-outline" slot="start"></ion-icon>
        <ion-label>Settings</ion-label> 
      </ion-item> -->
      <ion-item>
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        <ion-label style="color: #e00404" (click)="logout()">Log Out</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <div class="header">
        <div class="top">
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <span>{{user ? user.username : "..."}}</span>
        </div>
        <div class="bottom">
          <div class="space-between">
            <div class="followings">
              <ion-badge color="primary" mode="ios"
                >{{postCount || 0}}</ion-badge
              >
              <p>Uploads</p>
            </div>

            <div class="followings">
              <ion-badge color="primary" mode="ios"
                >{{postViews || 0}}</ion-badge
              >
              <p>Views</p>
            </div>
          </div>
        </div>
      </div>
      <div class="flex">
        <div class="border-blue">
          <div class="border-white">
            <div class="img-box" (click)="changeImage()">
              <img
                *ngIf="profile?.imageUrl; else placheolder_avatar;"
                [src]="profile.imageUrl"
              />
              <ng-template #placheolder_avatar>
                <img src="../../assets/images/user2.png" />
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </ion-toolbar>
    <ion-toolbar class="search-types">
      <ion-title>
        <ion-segment
          [(ngModel)]="contentType"
          [scrollable]="true"
          value="saved"
          class="profileSegment"
          (ionChange)="onSegmentChange()"
        >
          <ion-segment-button value="uploads"> Uploads </ion-segment-button>
          <ion-segment-button value="saved"> Saved </ion-segment-button>
        </ion-segment>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div [ngSwitch]="contentType">
      <ion-grid *ngSwitchCase="'saved'" id="profile-saved-content">
        <ion-row>
          <ion-col size="12" *ngFor="let post of savedPosts">
            <div
              class="saved-container"
              (click)="viewPost(post);"
              [style.background-image]="'url(' + post.imageUrl + ')'"
            ></div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid *ngSwitchCase="'uploads'" id="profile-uploads-content">
        <ion-row>
          <ion-col size="4" *ngFor="let post of posts">
            <div
              class="image-container"
              [style.background-image]="'url(' + post.imageUrl + ')'"
              (click)="viewPost(post);"
            >
              <div class="bottom-left">
                <ion-icon name="eye"></ion-icon
                ><strong>{{post.viewCount}}</strong>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-content>
</div>
