$spacing: 5px;

.header {
  .top,
  .bottom {
    background: rgb(131, 58, 180);
    background: linear-gradient(
      90deg,
      rgba(131, 58, 180, 1) 0%,
      rgba(106, 29, 253, 1) 50%,
      rgba(252, 176, 69, 1) 100%
    );
    height: 75px;
    padding-top: 1px;
    color: antiquewhite;
    ion-buttons {
      float: left;
    }
  }
  span {
    width: 240px;
    text-align: center;
    margin: 0 auto;
    display: block;
    font-size: 26px;
    margin-top: 10px;
  }
}

ion-list ion-label {
  font-weight: bolder;
}

.space-between {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 0px 10px;
}

.followings {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    color: white;
    margin: 8px 0px 0px 0px;
  }
}

.img-box {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  overflow: hidden;
}
.border-white {
  border: 4px solid white;
  border-radius: 50%;
  width: fit-content;
}
.border-blue {
  //   border: 7px solid #006bbf;
  border-radius: 50%;
  width: fit-content;
}
.flex {
  display: flex;
  justify-content: center;
  margin-top: -76px;
}

ion-segment-button {
  --indicator-color: transparent !important;
  --indicator-color-checked: transparent !important;
  --color-checked: rgb(253 29 29);
  font-weight: 800;
}

ion-col {
  padding: 1px;
  .saved-container {
    background-size: cover;
    min-height: 350px;
    position: relative;
  }
  .image-container {
    background-size: cover;
    min-height: 150px;
    position: relative;

    .bottom-left {
      position: absolute;
      bottom: 8px;
      left: 16px;
      color: antiquewhite;
      font-weight: bolder;

      ion-icon {
        font-size: 23px;
        margin-bottom: -6px;
        margin-right: 5px;
      }
    }
  }
}

#profile-saved-content,
#profile-uploads-content {
  padding: 0;
}
