$spacing: 5px;
@mixin leftRightPadding {
  padding: 0 ($spacing * 2) 0 ($spacing * 2);
}
// app-search {

#background-content {
  background: #0e1010;
}
.title {
  display: block;
  padding-inline: 5%;
  text-align: start;
  font-weight: 200;
  width: 120px;
  margin: 0 auto;
}

ion-content {
  padding: 10px;
  span {
    display: block;
  }
}

ion-col {
  padding-bottom: $spacing * 4;

  .image-container {
    background-size: cover;
    min-height: 200px;
    border-radius: $spacing;
  }
}

.quick-search,
.recent-search {
  @include leftRightPadding();
}

.trending-search {
  font-weight: bold;

  span {
    margin-bottom: $spacing;
  }
  ion-icon {
    margin-right: $spacing;
  }
}

.searches {
  ion-badge {
    padding: ($spacing * 2);
    border-radius: 20px;
    margin-right: $spacing;
  }
}

.most-popular {
  h6{
    margin-left: $spacing * 2;
  }
  ion-grid {
    padding: 0;
  }
}

ion-toolbar.search-types {
  --min-height: 40px;
}

.grid {
  display: grid;
  grid-gap: 5px;
}


/* styling code */

.grid {
  max-width: 500px;
}

.grid > .item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// }
