<ion-header class="ion-no-border">
  <ion-toolbar>
    <header>
      <h1>Z'thombe</h1>
      <small>Hilarious African Memes</small>
    </header>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="contentType" [scrollable]="true" value="trending">
      <ion-segment-button value="login"> Log In </ion-segment-button>
      <ion-segment-button value="signup"> Sign Up </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bg-color" [ngSwitch]="contentType">
  <ion-card>
    <form [formGroup]="ValidationFormUser" (ngSubmit)="login()">
      <ion-card-content>
        <div class="login" *ngSwitchCase="'login'">
          <ion-item>
            <ion-input
              name="email"
              type="text"
              placeholder="email"
              formControlName="email"
            >
              <ion-icon name="mail-outline"></ion-icon>
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              name="password"
              type="password"
              placeholder="Password"
              formControlName="password"
            >
              <ion-icon name="lock-closed"></ion-icon>
            </ion-input>
          </ion-item>
          <small><a>Forgot Password?</a></small>
        </div>

        <div class="signup" *ngSwitchCase="'signup'">
          <ion-item>
            <ion-input name="names" type="text" placeholder="FullName">
              <ion-icon name="person-outline"></ion-icon>
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-input name="username" type="text" placeholder="Username">
              <ion-icon name="at-outline"></ion-icon>
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-input name="email" type="text" placeholder="Email">
              <ion-icon name="mail-outline"></ion-icon>
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-input name="password" type="password" placeholder="Password">
              <ion-icon name="lock-closed"></ion-icon>
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              name="confirmPassword"
              type="password"
              placeholder="Confirm password"
            >
              <ion-icon name="lock-closed"></ion-icon>
            </ion-input>
          </ion-item>
        </div>
        <div class="confirm-signin">
          <div class="sign-btn-wrap">
            <ion-button
              (click)="login()"
              shape="round"
              type="submit"
              fill="solid"
              class="sign-btn"
              *ngIf="!loading"
              >{{ contentType==='login' ? 'Log In' : 'Sign Up'}}</ion-button
            >
            <ion-button
              shape="round"
              fill="solid"
              class="sign-btn-loading"
              *ngIf="loading"
            >
              <ion-spinner name="crescent"></ion-spinner>
            </ion-button>
          </div>

          <div class="text-tag">
            <span>Sign In using</span>
          </div>
          <div class="social-btns">
            <ion-icon name="logo-facebook"></ion-icon>
            <ion-icon name="logo-google"></ion-icon>
            <ion-icon name="logo-apple"></ion-icon>
            
            <!-- <ion-button fill="clear" class="facebookbtn ion-no-padding">
              <ion-img src="assets/images/facebook.png"></ion-img>
            </ion-button>
            <ion-button fill="clear" class="googlebtn ion-no-padding">
              <ion-img src="assets/images/google.png"></ion-img>
            </ion-button>
            <ion-button fill="clear" class="applebtn ion-no-padding">
              <ion-img src="assets/images/apple.png"></ion-img>
            </ion-button> -->
          </div>
        </div>
      </ion-card-content>
    </form>
  </ion-card>
</ion-content>
