$spacing: 5px;
$white: antiquewhite;
// app-home {
// background-color: red;

ion-segment::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
ion-title {
  padding-inline: 5%;
  text-align: start;
  .logo-title {
    padding: 10px 0 15px 0;

    .logo {
      font-weight: bolder;
      ion-icon {
        font-size: 20px;
        margin-bottom: -6px;
        border-radius: 20px;
        padding: 6px;
        background: rgb(131, 58, 180);
        background: linear-gradient(
          90deg,
          rgba(131, 58, 180, 1) 0%,
          rgba(106, 29, 253, 1) 50%,
          rgba(252, 176, 69, 1) 100%
        );
        color: $white;
      }
      label {
        font-family: "Righteous", cursive;
      }
    }

    .create {
      font-weight: bolder;
      float: right;
      font-size: $spacing * 3;
      margin-top: $spacing * 2;
      ion-icon {
        font-size: $spacing * 4;
        margin-bottom: -6px;
      }
    }
  }
}

ion-toolbar {
  --min-height: 40px;
}

ion-col {
  padding-bottom: $spacing * 4;
  small {
    margin-left: $spacing;
  }

  .ellipse {
    float: right;
    margin-right: $spacing;
  }

  .image-container {
    background-size: cover;
    min-height: 200px;
    border-radius: $spacing;
  }
}
