<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title">Search</ion-title>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>

  <ion-toolbar class="search-types">
    <ion-title>
      <ion-segment [(ngModel)]="contentType" [scrollable]="true" value="gifs">
        <ion-segment-button value="gifs"> Gifs </ion-segment-button>
        <ion-segment-button value="images"> Images </ion-segment-button>
        <ion-segment-button value="videos"> Videos </ion-segment-button>
      </ion-segment>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <article class="quick-search">
    <div class="trending-search">
      <h6>Trending Searches</h6>
      <span
        ><ion-icon name="trending-up-outline"></ion-icon>&nbsp;<strong
        ></strong>10 Past 4</span
      >
      <span
        ><ion-icon name="trending-up-outline"></ion-icon>&nbsp;<strong
        ></strong>Inganekwane</span
      >
      <span
        ><ion-icon name="trending-up-outline"></ion-icon>&nbsp;Obani la
        babantu</span
      >
    </div>
  </article>
  <article class="recent-search">
    <h6>Recent Searches</h6>
    <div class="searches">
      <ion-badge><ion-icon name="search"></ion-icon>Test1</ion-badge>
      <ion-badge><ion-icon name="search"></ion-icon>Test2</ion-badge>
      <ion-badge><ion-icon name="search"></ion-icon>Test3</ion-badge>
    </div>
  </article>

  <article class="most-popular" [ngSwitch]="contentType">
    <h6>Most Popular Now</h6>
    <ion-grid *ngSwitchCase="'gifs'">
      <ion-row>
        <ion-col size="6" *ngFor="let image of [2,3,4,5]">
          <div
            class="image-container"
            [style.background-image]="'url(assets/images/img' + image + '.jpg)'"
          ></div>
          <small>Gif title</small>
          <ion-icon
            class="ellipse"
            name="ellipsis-horizontal-outline"
          ></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid *ngSwitchCase="'images'">IMAGES</ion-grid>
    <ion-grid *ngSwitchCase="'videos'">VIDEOS</ion-grid>
  </article>
</ion-content>
